.idea/
vendor
!vendor/.gitundelete
conf/db.conf
db/dbconf.yml
attachments/
!attachments/.gitundelete
logs/
*.pdf
*.jpg
*.jpeg
node_modules/
mix-manifest.json

beego-crud-api

lastupdate.tmp
frontend/package-lock.json
frontend/yarn.lock
coverage.out
coverage.html
package-lock.json
credentials
gce.*
.DS_Store

yarn.lock
Gopkg.lock
.vendor-new

npm-debug.log
admin/build
build

swagger/swagger.json
swagger/swagger.yml
.env

*.egg-info
.pytest_cache
__pycache__
reports